@font-face {
  font-family: 'Montserrat Regular';
  src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('TrueType');
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('../fonts/montserrat/Montserrat-Medium.ttf') format('TrueType');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('../fonts/montserrat/Montserrat-Bold.ttf') format('TrueType');
}