html {
  font-family: 'Montserrat Regular';
  font-size: 15px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 70px 8% 0px;
  box-sizing: border-box;
  transition: all 400ms ease;

  &.header--dark {
    .header__brand svg path {
      fill: $black;
    }

    .header__menu-btn .bar {
      background-color: $black;
    }
  }
  
  &.header--sticky {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: $navy;
    transition: all 400ms ease;

    .menu__close {
      top: 35px;
    }

    .header__brand svg path {
      fill: $white;
    }

    .header__menu-btn .bar {
      background-color: $white;
    }
  }

  @media (min-width: 1024px) {
    padding: 70px 5% 0px;
  }

  &.product {
    padding-left: 8%;

    @media (min-width: 1024px) {
      padding-left: calc(20% + 5%);
      padding-right: 4%;
    }
  }

  &.open {
    z-index: 12;
  }

  &__brand svg {
    width: 113px;
  }

  &__menu-btn {
    display: flex;
    height: 20px;
    width: 46px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .bar {
      display: block;
      width: 100%;
      height: 4px;
      background-color: $white;
      margin-bottom: 12px;
      transition: all 200ms ease;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.header__menu-btn--dark .bar {
      background-color: $black;
    }

    &:hover {

      .bar:first-child {
        width: 30px;
      }
    }
  }
}

#content {
  display: block;

  &.product {
    @media (min-width: 1024px) {
      padding-left: 20%;
    }
  }
}

.footer {
  display: block;
  background-color: $navy;

  &.product {
    position: relative;
    z-index: 11;
  }

  > .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 80px;

    @media (min-width: 1024px) {
      flex-direction: row;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  &__col {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    border-bottom: 1px solid $blue-gray;
    padding: 35px 0px;
    
    &:last-child {
      border-right: none;
    }
    
    @media (min-width: 1024px) {
      width: 33.33334%;
      height: 200px;
      border-right: 1px solid $blue-gray;
      border-bottom: none;
    }
  }

  &__col--social {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
     
    @media (min-width: 1024px) {
      align-items: flex-start;
      justify-content: center;
    }
  }

  &__col--menu {
    text-align: center;
    justify-content: center;
  }

  &__col--contact {
    text-align: center;
    justify-content: center;
  }

  &__logo {
    width: 140px;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

    &__link {
      font-family: 'Montserrat Regular';
      font-size: 14px;
      color: $gold-gray;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 1px solid $gold-gray;
      text-decoration: none;
      margin-right: 20px;
      margin-top: 15px;
      transition: all 200ms ease;

      &:hover {
        color: $white;
        border-color: $white;
      }
    }
  }

  &__menu {
    list-style: none;
    padding-left: 0px;
    margin: 0;

    li {
      display: block;
      margin-bottom: 15px;

      a {
        font-family: 'Montserrat Regular';
        font-size: 13px;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 200ms ease;

        &:hover {
          color: $gold-gray;
        }
      }
    }
  }

  &__contact {

    &__box {

    }
  }

  .box-info {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }

    &__label {
      display: block;
      font-family: 'Montserrat Bold';
      font-size: 13px;
      color: $blue-gray;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    
    &__value {
      font-family: 'Montserrat Bold';
      color: $white;
      font-size: 13px;
      color: $white;
      text-align: left;
    }

    &__value--number {
      font-family: 'Montserrat Regular';
      font-size: 32px;
      
      b {
        font-family: 'Montserrat Bold';
      }
    }

    &__value--schedule {
      font-family: 'Montserrat Bold';
      width: 150px;
      display: block;
      margin: 0 auto;
    }
  }

  &__copyright {
    padding-bottom: 30px;

    .container {
      display: flex;
      align-items: center;
      justify-content: center ;
      flex-direction: column;

      @media (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__text {
      color: $white;
      font-family: 'Montserrat Regular';
      text-align: center;
      margin-bottom: 50px;
      margin-top: 0;

      @media (min-width: 1024px)  {
        text-align: left;
        margin-bottom: 0px;
      }
      
      span {
        display: inline-block;
        margin-bottom: 10px;
        
        @media (min-width: 1024px) {
          margin-bottom: 0px;
        }
      }
      
      a {
        display: inline-block;
        margin-left: 10px;
        font-size: 11px;
        color: $white;
      }
    }
  }

  &__qualitare {
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 22px;
    margin-left: 10px;
    font-size: 11px;
    color: $white;
    background-image: url('../images/icons/qualitare-expanded.png');
    background-size: 158px 22px;
    background-position: center left;
    background-repeat: no-repeat;
    transition: all 200ms ease;

    &:hover {
      width: 158px;
    }
  }
}
