// **
// * COLORS
// ** 

$black: #191B21;
$white: #FFFFFF;
$navy: #14213D;
$blue: #1F3FAD;
$gray: #F6F7F8;
$blue-gray: #576075;
$blue-gray-light: #A7AEBE;
$gold-gray: #BDB196;


// **
// * HELPERS
// **

.container {
  width: 100%;
  max-width: calc(1080px + 16%);
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 8%;

  @media (min-width: 1024px) {
    padding: 0 5%;
    max-width: calc(1080px + 10%);
  }

  &.container--lg {
    max-width: calc(1280px + 16%);

    @media (min-width: 1024px) {
      max-width: calc(1280px + 10%);
    }
  }
}

// **
// * ICONS
// **

.icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0px;

  &.icon--arrow-right {
    background-image: url('../images/icons/arrow-right.svg');
    width: 20px;
    height: 16px;
  }

  &.icon--arrow-right--long {
    background-image: url('../images/icons/arrow-right-long.svg');
    width: 56px;
    height: 13px;
  }

  &.icon--arrow-left--long {
    background-image: url('../images/icons/arrow-right-long.svg');
    transform: rotate(180deg);
    width: 56px;
    height: 13px;
  }

  &.icon--plant {
    background-image: url('../images/icons/plant.svg');
    width: 46.5px;
    height: 46.5px;
  }

  &.icon--shower {
    background-image: url('../images/icons/shower.svg');
    width: 46.5px;
    height: 46.5px;
  }

  &.icon--shower {
    background-image: url('../images/icons/shower.svg');
    width: 46.5px;
    height: 46.5px;
  }

  &.icon--bed {
    background-image: url('../images/icons/bed.svg');
    width: 46.5px;
    height: 46.5px;
  }

  &.icon--caret-right {
    background-image: url('../images/icons/caret-right.svg');
    width: 32px;
    height: 16px;
  }

  &.icon--caret-left {
    background-image: url('../images/icons/caret-left.svg');
    width: 32px;
    height: 16px;
  }
  
  &.icon--play {
    background-image: url('../images/icons/play.svg');
    width: 104px;
    height: 104px;
  }
  
  &.icon--mail {
    background-image: url('../images/icons/mail.svg');
    width: 24px;
    height: 24px;
  }
  
  &.icon--phone {
    background-image: url('../images/icons/phone.svg');
    width: 24px;
    height: 32px;
  }
  
  &.icon--building {
    background-image: url('../images/icons/building.svg');
    width: 24px;
    height: 32px;
  }

  &.icon--focus-result {
    background-image: url('../images/icons/focus-result.svg');
    width: 48px;
    height: 48px;
  }

  &.icon--leaf {
    background-image: url('../images/icons/leaf.svg');
    width: 48px;
    height: 48px;
  }

  &.icon--clients {
    background-image: url('../images/icons/clients.svg');
    width: 48px;
    height: 48px;
  }

  &.icon--people-talking {
    background-image: url('../images/icons/people-talking.svg');
    width: 48px;
    height: 48px;
  }

  &.icon--metrics {
    background-image: url('../images/icons/metrics.svg');
    width: 48px;
    height: 48px;
  }

  &.icon--caret-down {
    background-image: url('../images/icons/caret-down.svg');
    width: 16px;
    height: 8px;
  }
}