.about-home {
  position: relative;

  &__banner {
    height: 636px;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    margin: 0;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(76.82deg, rgba(0, 0, 0, 0.4) 19.17%, rgba(0, 0, 0, 0.1) 82.28%);
    }

    figcaption {
      display: block;
      width: 100%;
      text-align: center;
      padding: 0 3%;
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Montserrat Bold';
      font-size: 32px;
      line-height: 32px;
      color: $white;
      position: relative;
      z-index: 4;
    }
  }

  &__logo {
    display: none;
    
    @media (min-width: 1024px) {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      max-width: 40%;
    }
  }

  .container {
    display: flex;
    justify-content: flex-end;
  }

  &__text {
    margin-top: 120px;
    margin-bottom: 120px;

    @media (min-width: 1024px) {
      width: 50%;
    }
  }

  &__subtitle {
    font-family: 'Montserrat Bold';
    font-size: 13px;
    line-height: 20px;
    color: $black;
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__title {
    font-family: 'Montserrat Bold';
    font-size: 32px;
    line-height: 38px;
    color: $black;
    margin-top: 0;
    margin-bottom: 45px;
  }

  &__description {
    font-family: 'Montserrat Regular';
    font-size: 13px;
    line-height: 20px;
    color: $blue-gray;

    p {
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 25px;
    }
  }

  &__link {
    font-family: 'Montserrat Bold';
    font-size: 13px;
    display: inline-block;
    width: 100%;
    height: 55px;
    line-height: 55px;
    border: 2px solid $black;
    margin-top: 50px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: $black;
    transition: background-color 400ms ease, color 400ms ease, box-shadow 400ms ease 100ms;

    &:hover {
      background-color: $black;
      color: $white;
      box-shadow: -8px 8px 0px 0px rgba(0, 0, 0, 0.4);
    }

    @media (min-width: 1024px) {
      width: 180px;
    }
  }
}