.about {
  padding-top: 80px;
  overflow: hidden;

  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column-reverse;
    
    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }
  
  &__brand {
    width: 100%;

    @media (min-width: 1024px) {
      width: 48%;
    }
  }
  
  &__article {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 80px;

    @media (min-width: 1024px) {
      width: 48%;
      padding-top: 150px;
      padding-bottom: 150px;
    }
  }

  &__title {
    font-family: 'Montserrat Bold';
    font-size: 32px;
    color: $black;
    margin-top: 0px;
    margin-bottom: 40px;

    @media (min-width: 1024px) {
      font-size: 44px;
    }

    @media (min-width: 1024px) {
      margin-bottom: 70px;
    }

  }

  &__text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Montserrat Regular';
    color: $blue-gray;
    font-size: 16px;
    line-height: 24px;
    flex-direction: column;

    p {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  &__creci {
    font-family: 'Montserrat Regular';
    color: $black;
    font-size: 14px;
    margin: 60px 0;
    text-transform: uppercase;
    position: relative;

    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 50vw;
      background-color: $gold-gray;
      position: absolute;
      top: 50%;
      left: 120px;
    }
    
    @media (min-width: 1024px) {
      margin: 120px 0;
    }
  }

  &__text__highlight {
    font-family: 'Montserrat Regular';
    color: $black;
    font-size: 24px;
    line-height: 36px;
    
    @media (min-width: 1024px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
}