.banner {
  height: 100vh;

  &__product {
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    padding-bottom: 50px;

    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 94%;
      max-width: 1080px;
      margin-left: auto;
      margin-right: auto;
    }

    &__button {
      display: none;

      @media (min-width: 1024px) {
        width: 9%;
        height: 133px;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        border-radius: 30px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 200ms ease;
      }

      &:focus {
        outline: none;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }

      &.deactive {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover {
        background: rgba(0, 0, 0, 0.1);
        }
      }
    }

    &__button--preview {

    }

    &__button--next {

    }

    &__infos {
      display: none;

      @media (min-width: 1024px) {
        width: 80%;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        border-radius: 30px;
        height: 133px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3%;
        box-sizing: border-box;
      }
    }

    &__info {
      display: flex;
      align-items: center;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      .icon {
        min-width: 46.5px;
        margin-right: 20px;
      }

      span {
        font-family: 'Montserrat Regular';
        font-size: 14px;
        color: $white;
      }
    }

    &__info--progress {

      .progress-percent {
        display: block;
        min-width: 46.5px;
        width: 46.5px;
        height: 46.5px;
        line-height: 46.5px;
        border: 5px solid #BDB196;
        font-family: 'Montserrat Regular';
        color: $white;
        text-align: center;
        border-radius: 50%;
        margin-right: 20px;
      }

      span {
      }
    }
  }
}

.project {
  padding: 100px 0px;
  overflow: hidden;

  &__title {
    font-family: 'Montserrat Bold';
    font-size: 32px;
    color: $gold-gray;
    margin-top: 0;
    margin-bottom: 70px;
    
    @media (min-width: 1024px) {
      font-size: 44px;
    }
  }

  &__text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Montserrat Regular';
    color: $blue-gray;
    font-size: 16px;
    line-height: 24px;
    
    @media (min-width: 1024px) {
      flex-direction: row;
    }

    p {
      width: 100%;
      margin-bottom: 20px;
      
      @media (min-width: 1024px) {
        margin: 0px;
        width: 40%;
      }
    }
  }
}