.contact {
  padding: 125px 0px 0px;
  
  @media (min-width: 1024px) {
    padding: 125px 0px;
  }

  .container {}

  .contact-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: 1024px) {
      flex-direction: row;
    }
    
    &__title {
      width: 100%;
      font-family: 'Montserrat Bold';
      font-size: 32px;
      line-height: 32px;
      color: $gold-gray;
      margin: 100px 0px;
      
      @media (min-width: 1024px) {
        font-size: 44px;
      line-height: 42px;
      width: 40%;
        margin: 230px 0px;
      }

      em {
        display: block;
        color: $black;
        font-style: normal;
      }
    }

    &__box {
      width: 100%;
      height: 400px;
      overflow: hidden;
      background-color: $navy;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 0px 10%;
      margin: 0px -10%;

      @media (min-width: 1024px) {
        width: 40%;
        margin: 0;
        padding: 0px 5%;
        box-sizing: border-box;
      }

      &__link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        margin-bottom: 40px;

        .icon {
          margin-right: 40px;
        }

        span {
          display: inline-block;
          font-family: 'Montserrat Regular';
          font-size: 16px;
          color: $white;
          transition: all 200ms ease;
        }

        &:hover {

          span {
            color: lighten($blue-gray, 30%);
          }
        }
      }
    }
  }

  .contact-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    position: relative;

    @media (min-width: 1024px) {
      flex-direction: row;
      margin-bottom: 450px;
    }
    
    &__partner,
    &__form {
      text-align: right;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      max-height: 0px;
      overflow: hidden;
      transition: all 1s ease;
      
      &.active {
        opacity: 1;
        visibility: visible;
        max-height: 1000px;
        margin-top: 100px;
        transition: all 1s ease;
      }
      
      @media (min-width: 1024px) {
        width: 40%;
        margin-top: 0px;
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 100px;

        &.active {
          max-height: auto;
        }
      }

      label {
        display: block;
        margin-top: 30px;
        margin-bottom: 10px;
        font-family: 'Montserrat Bold';
        font-size: 13px;
        text-transform: uppercase;
        color: $blue-gray;
        text-align: left;
      }

      input,
      textarea {
        display: block;
        width: 100%;
        height: 48px;
        line-height: 48px;
        background-color: $gray;
        border: none;
        border-bottom: 2px solid $gold-gray;
        box-sizing: border-box;
        padding: 0 20px;
        text-align: left;
      }

      textarea {
        min-height: 200px;
        resize: vertical;
      }

      button {
        display: inline-block;
        width: 100%;
        height: 55px;
        line-height: 50px;
        border: 2px solid $navy;
        color: $navy;
        font-family: 'Montserrat Bold';
        font-size: 13px;
        text-transform: uppercase;
        text-align: center;
        background-color: transparent;
        margin-top: 50px;
        cursor: pointer;
        transition: background-color 400ms ease, color 400ms ease, box-shadow 400ms ease 100ms;

        &:hover {
          background-color: $black;
          color: $white;
          box-shadow: -8px 8px 0px 0px rgba(0, 0, 0, 0.4);
        }

        @media (min-width: 1024px) {
          width: 160px;
        }
      }

      .wpcf7-response-output {
        margin: 30px 0px 0px !important;
        padding: 0px !important;
        border: none !important;
      }
    }

    &__newsletter {
      width: 100%;
      margin-top: 100px;

      @media (min-width: 1024px) {
        width: 40%;
        margin-left: 60%;
      }

      &__title {
        font-family: 'Montserrat Bold';
        font-size: 32px;
        line-height: 32px;
        color: $black;
        position: relative;
        margin-top: 0;
        margin-bottom: 110px;

        > span {
          display: block;
          margin-bottom: 15px;
        }

        @media (min-width: 1024px) {
          font-size: 40px;
        }
      }

      &__text {
        font-family: 'Montserrat Regular';
        font-size: 16px;
        line-height: 22px;
        color: $blue-gray;
      }

      &__button {
        display: inline-block;
        width: 100%;
        height: 55px;
        line-height: 55px;
        border: 2px solid $navy;
        color: $white;
        font-family: 'Montserrat Bold';
        font-size: 13px;
        text-transform: uppercase;
        text-align: center;
        background-color: $navy;
        margin-top: 50px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 400ms ease, color 400ms ease, box-shadow 400ms ease 100ms;

        &:hover {
          background-color: $white;
          color: $navy;
          box-shadow: -8px 8px 0px 0px rgba(0, 0, 0, 0.4);
        }

        @media (min-width: 1024px) {
          width: 253px;
        }
      }
    }
  }

  .contact-location {
    width: 100%;
    overflow: hidden;
    margin-top: 40px;

    @media (min-width: 1024px) {
      margin-top: 140px;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      padding-top: 60px;
      padding-bottom: 0px;
      
      @media (min-width: 1024px) {
        flex-direction: row;
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }

    &__address {
      width: 100%;
      
      @media (min-width: 1024px) {
        width: 40%;
      }

      &__title {
        font-family: 'Montserrat Bold';
        font-size: 32px;
        line-height: 40px;
        color: $black;
        position: relative;
        margin-top: 0;
        margin-bottom: 110px;

        > span {
          margin-bottom: 15px;
          display: block;
        }
        
        @media (min-width: 1024px) {
          font-size: 44px;
        }
      }

      &__text {
        font-family: 'Montserrat Regular';
        font-size: 16px;
        line-height: 22px;
        color: $blue-gray;
      }

      &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-top: 70px;

        .icon {
          margin-right: 15px;
        }

        span {
          font-family: 'Montserrat Regular';
          font-size: 16px;
          line-height: 22px;
          color: darken($blue-gray, 10%);
        }
      }
    }

    &__map {
      margin: 0% -10%;
      box-sizing: content-box;
      
      @media (min-width: 1024px) {
        margin: 0;
      }

      img {
        margin-top: 60px;
        width: 100%;
        
        @media (min-width: 1024px) {
          position: absolute;
          left: 60%;
          top: 0;
          margin-top: 0px;
          width: auto;
        }
      }
    }
  }
}