.copyright {
  padding-top: 80px;

  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column-reverse;
    max-width: 1024px;
    
    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }
  
  &__article {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 80px;
  }

  &__title {
    font-family: 'Montserrat Bold';
    font-size: 32px;
    color: $gold-gray;
    margin-top: 0px;
    margin-bottom: 40px;

    @media (min-width: 1024px) {
      font-size: 44px;
    }

    @media (min-width: 1024px) {
      margin-bottom: 70px;
    }
  }

  &__text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Montserrat Regular';
    color: $blue-gray;
    font-size: 16px;
    line-height: 24px;
    flex-direction: column;

    p {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}