.cta-docs {
  background-color: $blue;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
  
  @media (min-width: 1024px) {
    height: 120px;
    padding: 0px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;

    @media (min-width: 1024px) {
      flex-direction: row;
      text-align: left;
    }
  }
  
  &__title {
    font-family: 'Montserrat Bold';
    font-size: 24px;
    color: $white;
    margin-bottom: 25px;
    margin-top: 0;

    @media (min-width: 1024px) {
      margin: 0;
    }
    
    em {
      color: $gold-gray;
      font-style: normal;
    }
  }

  &__button {
    width: 100%;
    height: 56px;
    line-height: 56px;
    border: 2px solid $white;
    color: $white;
    font-family: 'Montserrat Regular';
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: $blue;
    transition: background-color 400ms ease, color 400ms ease, box-shadow 400ms ease 100ms;

    &:hover {
      background-color: $white;
      color: $blue;
      box-shadow: -8px 8px 0px 0px rgba(0, 0, 0, 0.4);
    }

    @media (min-width: 1024px) {
      width: 203px;
    }
  }
}