.datasheet {
  padding: 80px 0px 60px;
  
  @media (min-width: 1024px) {
    padding: 100px 0px;
  }

  .container {

  }

  &__title {
    font-family: 'Montserrat Bold';
    font-size: 40px;
    color: $gold-gray;
    margin-top: 0;
    margin-bottom: 70px;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      color: $black;
      font-family: 'Montserrat Regular';
      font-size: 16px;

      @media (min-width: 1024px) {
        width: 20%;
      }
    }
  }
}