.features {
  background-color: $navy;
  padding: 120px 0px;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    
    @media (min-width: 1024px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .feature {
    display: flex;
    align-items: flex-state;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    
    @media (min-width: 1024px) {
      width: 48%;
    }

    .icon {
      min-width: 48px;
      margin-right: 50px;
      transform: translateY(30px);
    }

    &__text {

      &__title {
        font-family: 'Montserrat Bold';
        font-size: 13px;
        color: $gold-gray;
        text-transform: uppercase;
      }

      &__description {
        font-family: 'Montserrat Regular';
        font-size: 16px;
        line-height: 22px;
        color: $blue-gray-light;
      }
    }
  }
}