.gallery {
  background-color: $navy;
  margin-top: 400px;
  padding-top: 80px;
  position: relative;

  @media (min-width: 1024px) {
    padding-top: 400px;
  }
  
  &__video {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 100%;
    left: 0;

    @media (min-width: 1024px) {
      top: -300px;
      bottom: auto;
      height: 600px;
    }

    .container {
      padding: 0;
      height: 100%;

      @media (min-width: 1024px) {
        padding: 0 8%;
      }
    }
    
    &__poster {
      width: 100%;
      height: 100%;
    }

    &__button {
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 1;
      transition: all 200ms ease;

      .icon {
        width: 50px;
        height: 50px;

        @media (min-width: 1024px) {
          width: 104px;
          height: 104px;
        }
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 80px;
    flex-direction: column;
    
    @media (min-width: 1024px) {
      align-items: center;
      flex-direction: row;
    }
  }

  &__title {
    font-family: 'Montserrat Bold';
    font-size: 40px;
    color: $white;
    margin: 0px;
  }

  &__filter {
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    font-family: 'Montserrat Regular';
    font-size: 18px;
    color: $white;
    background-color: transparent;
    border: 2px solid $white;
    margin-top: 35px;
    position: relative;

    &__selected {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 15px;
      box-sizing: border-box;
      cursor: pointer;
      position: relative;
      z-index: 5;
      background-color: $navy;

      span {

      }

      i {
        transform: rotate(0deg);
        transition: transform 400ms ease;
      }
    }

    &__options {
      position: absolute;
      top: 100%;
      left: 0;
      width: calc(100% + 4px);
      z-index: 4;
      background-color: $white;
      border: 2px solid $white;
      box-sizing: border-box;
      margin: 0 -2px;
      transform: translateY(-50px);
      opacity: 0;
      visibility: hidden;
      transition: all 400ms ease;
    }
    
    &__option {
      width: 100%;
      position: relative;
      cursor: pointer;
      
      span {
        display: inline-flex;
        align-items: center;
        padding: 0px 15px;
        box-sizing: border-box;
        width: 100%;
        height: 56px;
        position: relative;
        z-index: 1;
        color: $navy;
        transition: all 400ms ease;
      }

      &:before {
        content: '';
        display: block;
        width: 0%;
        height: 100%;
        background-color: $navy;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 400ms ease;
      }

      &:hover {
        span {
          color: $white;
        }

        &:before {
          width: 100%;
        }
      }
    }

    &.open {

      .gallery__filter__options {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
      }

      .gallery__filter__selected i {
        transform: rotate(180deg);
      }
    }

    @media (min-width: 1024px) {
      margin-top: 0;
      width: 176px;
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 -20px;
    position: relative;
    padding-bottom: 100px;

    .slick-list {
      width: 100%;
      height: 360px;
      overflow: hidden;
    }

    .slick-track {
      width: 100%;
    }

    .slick-slide {
      margin: 0 20px;

      &:focus {
        outline: none;
      }
      
      > div {
        margin-bottom: 40px;
      }
    }

    .slick-arrow {
      width: 56px;
      height: 56px;
      position: absolute;
      bottom: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $blue-gray;
      color: $white;
      background-color: transparent;
      cursor: pointer;
      transition: all 400ms ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2)
      }

      &:focus {
        outline: none;
      }

      &.slick-disabled:hover {
        background-color: transparent;
        cursor: default;
      }
    }

    .slick-prev {
      right: 85px;
    }

    .slick-next {
      right: 15px;
    }

    &__image {
      width: 100%;
      height: 360px;
      transition: all 400ms ease;
      opacity: 1;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}