.highlight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
    height: 100vh;
  }

  &__product {
    width: 100%;
    height: 636px;
    padding: 14% 6%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    transition: all 400ms ease-out;
    text-decoration: none;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);;
    } 

    @media (min-width: 1024px) {
      width: 25%;
      height: 100%;
      padding: 6% 3%;
    }

    &__text {
      opacity: 1;
      color: $white;
      transition: all 0ms ease 0ms;
      position: relative;
      z-index: 4;
      
      @media (min-width: 1024px) {
        opacity: 0;
        transform: translateX(-50px);
        pointer-events: none;
      }
    }

    &__subtitle {
      font-family: 'Montserrat Bold';
      font-size: 13px;
      line-height: 13px;
      margin-top: 0;
      margin-bottom: 30px;
      text-transform: uppercase;
    }
    
    &__title {
      font-family: 'Montserrat Bold';
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 60px;
    }

    &__link {
      display: inline-block;
      font-family: 'Montserrat Bold';
      font-size: 13px;
      line-height: 13px;
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
      transition: all 200ms ease;

      &:hover {
        color: $blue-gray;
      }
    }

    &.active {
      width: 100%;

      @media (min-width: 1024px) {
        width: 50%;
      }

      .highlight__product__text {
        opacity: 1;
        transform: translateX(0px);
        transition: all 250ms ease 400ms;
      }
    }
  }
}