#map {
  width: 100%;
  height: 460px;
  background-image: url('../images/product/map.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.interested {

  .container {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box;
    
    @media (min-width: 1024px) {
      padding-top: 120px;
      padding-bottom: 120px;
      padding-right: 50%;
    }
  }

  &__title {
    font-family: 'Montserrat Bold';
    font-size: 32px;
    color: $gold-gray;
    margin-top: 0;
    margin-bottom: 60px;
    
    @media (min-width: 1024px) {
      font-size: 44px;
      margin-bottom: 100px;
    }
  }

  &__text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Montserrat Regular';
    color: $blue-gray;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 60px;
    margin-top: 0;
    
    @media (min-width: 1024px) {
      margin-bottom: 100px;
    }
  }

  &__cta {
    display: block;
    font-family: 'Montserrat Regular';
    font-size: 40px;
    margin-bottom: 80px;
    
    @media (min-width: 1024px) {
      font-size: 56px;
      
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
    text-decoration: none;
    
    @media (min-width: 1024px) {
      margin-bottom: 50px;
    }

    .icon {
      margin-right: 30px;
    }

    span {
      font-family: 'Montserrat Regular';
      font-size: 16px;
      color: $blue-gray;
    }
  }

  &__contact--phone {

  }

  &__contact--mail {

  }

  &__brand {
    display: none;

    @media (min-width: 1024px) {
      display: block;
      width: 30%;
      position: absolute;
      bottom: 0;
      right: 3%;
    }
  }
}