.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $navy;
  background-image: url('../images/brand-menu.svg');
  background-position: right top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease-out;

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    
    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__close {
    display: block;
    height: 46px;
    width: 46px;
    text-decoration: none;
    position: absolute;
    top: 70px;
    right: 10%;

    @media (min-width: 1024px) {
      right: 6%;
    }

    .bar {
      display: block;
      width: 100%;
      height: 4px;
      background-color: $white;
      transition: all 200ms ease;
      position: absolute;
      top: calc(50% - 2px);
      left: 0%;
      transform: rotate(0deg);
      transition: all 300ms ease 500ms;
    }
  }

  &__list {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 100px;

    @media (min-width: 1024px) {
      margin-top: 0;
    }

    li {

      a {
        font-family: 'Montserrat Bold';
        font-size: 28px;
        line-height: 60px;
        display: flex;
        align-items: center;
        color: $blue-gray;
        text-decoration: none;
        transition: all 200ms ease;

        @media (min-width: 1024px) {
          font-size: 32px;
          line-height: 83px;
        }

        &:hover {
          color: $white;
        }
      }

      &.active a {
        color: $white;
      }
    }
  }

  &__info {

    &__box {
      display: none;

      @media (min-width: 1024px) {
        display: block;
      }
    }

    &__box--social {
      display: flex;
      align-items: center;
      margin-top: 40px;
  
      &__link {
        font-family: 'Montserrat Regular';
        font-size: 14px;
        color: $gold-gray;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: 1px solid $gold-gray;
        text-decoration: none;
        margin-right: 20px;
        margin-top: 15px;
        transition: all 200ms ease;
  
        &:hover {
          color: $white;
          border-color: $white;
        }
      }
    }

    .box-info {
      margin-bottom: 50px;
  
      &:last-child {
        margin-bottom: 0;
      }
  
      &__label {
        display: block;
        font-family: 'Montserrat Bold';
        font-size: 13px;
        color: $blue-gray-light;
        margin-bottom: 15px;
        text-transform: uppercase;
      }
      
      &__value {
        font-family: 'Montserrat Bold';
        color: $white;
        font-size: 13px;
        color: $white;
        text-align: left;
      }
  
      &__value--number {
        font-family: 'Montserrat Regular';
        font-size: 32px;
        
        b {
          font-family: 'Montserrat Bold';
        }
      }
  
      &__value--schedule {
        font-family: 'Montserrat Bold';
        width: 150px;
        display: block;
      }
    }
  }

  &.open {
    visibility: visible;
    opacity: 1;

    .menu__close {

      .bar {
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
      }
    }
  }

}