.newsletter {
  background-color: $navy;
  padding: 45px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  @media (min-width: 1024px) {
    min-height: 180px;
    padding: 20px 0px;
  }

  @media (min-width: 1600px) {
    min-height: 120px;
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: 1600px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__text {
    font-family: 'Montserrat Bold';
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;

    @media (min-width: 1600px) {
      margin-bottom: 0;
    }

    span {
      color: $white;
    }
    
    b {
      color: $gold-gray;
    }
  }

  &__form {
    width: 100%;

    p {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      margin: 0;
      
      @media (min-width: 1024px) {
        align-items: flex-start;
        flex-direction: row;
        width: auto;
      }

      > span {
        margin-bottom: 20px;
      }
    }

    input {
      display: inline-block;
      width: 100%;
      height: 54px;
      line-height: 54px;
      margin-right: 0px;
      margin-bottom: 0px;
      border: 2px solid $blue-gray;
      padding: 0px 24px;
      box-sizing: border-box;
      color: $white;
      background-color: transparent;

      @media (min-width: 1024px) {
        margin-right: 30px;
        margin-bottom: 0px;
        width: 270px;
      }

      &::placeholder {
        color: $blue-gray;
      }
    }

    button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      line-height: 56px;
      border-radius: 50%;
      background-color: $blue-gray;
      border: none;
      cursor: pointer;
      transition: background-color 400ms ease, color 400ms ease, box-shadow 400ms ease 100ms;

      &:hover {
        background-color: $gold-gray;
        color: $white;
        box-shadow: -8px 8px 0px 0px rgba(0, 0, 0, 0.4);
      }

      &:focus {
        outline: none;
      }

      .icon {

      }
    }

    .wpcf7-response-output {
      margin: 25px 0 10px !important;
      border: none !important;
      color: $white;
      padding: 0 !important;
      text-align: center;
    }
  }
}