.portfolio {
  padding: 80px 0px 0px;
  position: relative;
  
  @media (min-width: 1024px) {
    padding: 120px 0px;
    height: 100vh;
  }

  .container {
    display: flex;
    align-items: flex-state;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;

    @media (min-width: 1024px) {
      flex-direction: row;
      padding: 0 5%;
    }
  }

  &__article {
    width: 100%;
    padding: 0 8%;
    box-sizing: border-box;

    @media (min-width: 1024px) {
      width: 48%;
      padding: 0%;
    }

    &__title {
      font-family: 'Montserrat Bold';
      font-size: 32px;
      color: $black;
      margin-top: 0;
      margin-bottom: 70px;
      
      @media (min-width: 1024px) {
        font-size: 44px;
      }
    }

    &__text {
      font-family: 'Montserrat Regular';
      font-size: 16px;
      line-height: 22px;
      color: $blue-gray-light;
      
      p {
        margin-top: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__list {
    width: 100%;

    &::-webkit-scrollbar {
      width: 0px;
    }
    
    @media (min-width: 1024px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-left: 52%;
      padding-right: 5%;
      padding-top: 180px;
      padding-bottom: 120px;
      box-sizing: border-box;
      margin-top: 0;
      overflow-x: hidden;
      overflow-y: auto;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;
      height: 350px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      box-sizing: border-box;
      padding: 40px 30px;
      
      @media (min-width: 1024px) {
        margin-bottom: 25px;
        padding: 40px 48px;
      }

      &__name {
        font-family: 'Montserrat Bold';
        font-size: 20px;
        color: $white;
        margin-bottom: 5px;
      }
      
      &__location {
        color: $white;
        font-family: 'Montserrat Regular';
        font-size: 16px;
      }
    }
  }
}