.progress {
  background-color: $black;
  padding-top: 80px;
  padding-bottom: 80px;
  
  @media (min-width: 1024px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container {

  }

  &__title {
    font-family: 'Montserrat Bold';
    font-size: 32px;
    color: $white;
    margin-top: 0px;
    margin-bottom: 60px;
    
    @media (min-width: 1024px) {
      font-size: 44px;
    }
  }

  &__areas {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__sector {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $white;
    font-size: 16px;

    @media (min-width: 1024px) {
      width: 31%;
      margin-right: 2%;
    }

    &:nth-child(3n+3) {
      margin-right: 0%;
    }
    
    &__name {
      font-family: 'Montserrat Bold';
    }
    
    &__percent {
      font-family: 'Montserrat Regular';
    }

    &__graph {
      width: 100%;
      height: 8px;
      margin-top: 5px;
      background-color: $blue;
    }
  }
}

.architect__profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  @media (min-width: 1024px) {
    margin-top: 60px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__avatar {
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    margin-right: 15px;
    
    @media (min-width: 1024px) {
      width: 152px;
      height: 152px;
      margin-right: 30px;
    }
  }

  &__id {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0px;
    color: $white;
    
    @media (min-width: 1024px) {
      margin-right: 150px;
    }

    &__role {
      font-family: 'Montserrat Regular';
      font-size: 13px;
      text-transform: uppercase;
      margin-bottom: 10px;
      letter-spacing: 1.5px;
    }
    
    &__name {
      font-family: 'Montserrat Bold';
      font-size: 40px;
      white-space: nowrap;
    }
  }

  &__text {
    max-width: 550px;
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: $white;
    position: relative;
    margin-top: 45px;
    padding: 0% 8%;
    box-sizing: border-box;
    
    @media (min-width: 1024px) {
      margin-top: 0px;
      padding: 0%;
    }

    &:before {
      content: '';
      display: block;
      width: 102px;
      height: 85px;
      background-image: url(../images/icons/quote.svg);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -10px;
      left: 0px;
      
      @media (min-width: 1024px) {
        left: -30px;
      }
    }
  }
}