.sidebar {
  display: none;
  
  @media (min-width: 1024px) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: $navy;
    z-index: 11;
    padding: 5%;
    box-sizing: border-box;
  }

  .indexes {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &:before {
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: $blue-gray;
    }

    .active-border {
      height: 20%;
      width: 1px;
      background-color: $gold-gray;
      position: absolute;
      left: 0px;
      top: 0%;
    }

    &__anchor {
      font-family: 'Montserrat Regular';
      font-style: normal;
      text-transform: uppercase;
      font-size: 11px;
      color: $blue-gray;
      padding-left: 25px;
      text-decoration: none;
      box-sizing: border-box;
      height: 20%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      flex-direction: column;
      transition: all 200ms ease;

      span {
        display: block;
      }

      &.active {
        color: $white;
      }
    }
  }
}