.welcome {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 200px;

  @media (min-width: 1024px) {
    flex-direction: row;
    height: 100vh;
    padding-top: 0px;
  }

  &__logo {
    display: none;
    
    @media (min-width: 1024px) {
      position: absolute;
      top: 88px;
      left: 0;
      z-index: -1;
      display: block;
    }
  }

  &__text {
    display: block;
    width: 100%;
    max-width: 510px;
    position: relative;
    z-index: 2;
    margin-bottom: 100px;

    @media (min-width: 1024px) {
      margin-bottom: 0px;
    }

    &__title {
      font-family: 'Montserrat Bold';
      color: $black;
      font-size: 40px;
      line-height: 40px;
      margin-top: 0;
      margin-bottom: 25px;
      
      @media (min-width: 1024px) {
        font-size: 64px;
        line-height: 64px;
      }
    }

    &__description {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 50px;
      color: $blue-gray;
    }

    &__link {
      font-family: 'Montserrat Bold';
      display: inline-block;
      font-size: 16px;
      color: $black;
      position: relative;
      text-decoration: none;

      &:after {
        content: '>';
        display: block;
        position: absolute;
        right: -15px;
        top: 1px;
        transition: right 400ms ease;
      }

      &:hover:after {
        right: -25px;
      }
    }
  }

  &__image {
    display: none;
    
    @media (min-width: 1024px) {
      display: block;
      position: absolute;
      width: auto;
      top: 30px;
      right: 0;
      height: calc(100% - 60px);
    }
    
    img {
      display: block;
      max-width: 100%;
      height: 100%;
    }
  }

  &__roll-down {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    bottom: 0;
    right: 60%;
    padding-bottom: 15px;
    white-space: nowrap;
    font-family: 'Montserrat Medium';
    font-size: 11px;
    color: $gold-gray;
    text-transform: uppercase;
    text-decoration: none;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $gold-gray;
    }

    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 100px;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $gold-gray;
      transform: rotate(-45deg) translate(-35px, -15px);
    }
  }
}